<form class="new_expense" id="new_expense" action"/expenses" accept-charset="UTF-8" method="post">

  <p>
    <input placeholder="Username" type="text" name="userName" id="userName" /><br></br>
    <input placeholder="Item name" type="text" name="itemName" id="itemName" /><br></br>
    <input placeholder="Unit Price" type="number" name="unitPrice" id="unitPrice" /><br></br>
    <input type="radio" name="frequency" value="daily">Daily<br>
    <input type="radio" name="frequency" value="weekly">Weekly<br>
    <input type="radio" name="frequency" value="monthly">Monthly<br>
    <input type="radio" name="frequency" value="yearly">Yearly<br>

    <input type="submit" value="calculate" name="commit" />

  </p>


</form>
